/* #2 #colorful #palette is:
 * Background: #F5F5F5 (GREY 100)
 * Primary Text: black
 * Primary color: #3F51B5 (INDIGO)
 * Primary color_text : white
 * Accent color: #CDDC39 (LIME)
 * Accent color_text: black
 */

/* Global */
* {
    /* #2 #font #faces */
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

/* all buttons uppercase */
button, strong {
    text-transform: uppercase;
}

/* App bar */
h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

/* Channels list */
h2 {
    /* #2 #colorful #channelandchat */
    background-color: white;
    font-size: 16px;
}

li {
    padding: 16px;
    border-bottom: 1px solid #3F51B5;
}
li img{
    vertical-align: middle;
}
.current {
    color:#3F51B5;
    border-left: 4px solid #3F51B5;
}
/* Tab bar */
#tab-bar button{
    background-color: white;
    text-align: center;
    font-size: 13px;
    border: none;
    width: 33%;
    height: 72px;
    padding: 16px;
}

#tab-bar button img{
    display: block;
    margin: auto;
    padding-bottom: 4px;
}

#tab-bar .selected{
    color:#3F51B5;
    border-bottom: 4px solid #3F51B5;
}
/* Messages */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left:2.5%;
}

.message h3{
    font-size: medium;
}
.mine{
    margin-left:17.5%;
}
.message p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px;
}

.message button{
    background-color: #CDDC39;
    color: black;
}
.message em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

ul {
    /* no bullets on channel list */
    list-style-type: none;
    background-color: white;
}
